@import "tailwindcss";

.background-banner {
  background-image: linear-gradient(to right, black, transparent 90%),
    url(../public/hero_banner.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
